<ngx-smart-modal identifier="movieDetailsModal" [customClass]="'my-custom-class'">
  <div *ngIf="selectedMovie">
    <movie-details [movie]="selectedMovie"></movie-details>
  </div>
</ngx-smart-modal>
<div class="search">
  <div>
    <input type="text" #txtSearch name="txtSearch" id="txtSearch" placeholder="Search for a movie">
    <img src="../../../../assets/search.png" alt="Search" (click)="searchMovie(txtSearch.value)">
  </div>
  <hr />
</div>
<div class="card-content" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">
  <div class="card" *ngFor="let movie of movies" (click)="openDetails(movie.id)">
    <img *ngIf="movie.posterPath" src="{{movie.posterPath}}" alt="{{movie.title}}" />
    <img *ngIf="!movie.posterPath" src="../../../assets/no-image.gif" alt="{{movie.title}}" />
    <p class="title">{{movie.title}}</p>
    <p>{{movie.genres }}</p>
    <p><span>Release:</span> {{movie.releaseDate | date:'longDate'}}</p>
  </div>
</div>
