<div class="card-content" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <div class="card" *ngFor="let movie of movies">
    <img *ngIf="movie.posterPath" src="{{movie.posterPath}}" alt="{{movie.title}}" />
    <img *ngIf="!movie.posterPath" src="../../../assets/no-image.gif" alt="{{movie.title}}" />
    <p class="title">{{movie.title}}</p>
    <p>{{movie.genres }}</p>
    <p>Release: <span>{{movie.releaseDate | date:'shortDate'}}</span></p>
  </div>
</div>
