.nsm-dialog {
  max-width: 900px !important;
}

.nsm-content {
  border-radius: 25px !important;
  border: 2px solid #011f4b !important;
}

.nsm-dialog-btn-close {
  top: 15px !important;
  right: 15px !important;
}
